<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <img src="http://www.betweenthebuns.com/images/trivia.gif" id="logo" height="50%" width="50%"/>
      
    </div>
  </div>
</div>