<%= paginate @users, theme: 'twitter-bootstrap-3' %>

<div class="page-header col-md-6">
  <h1>Leaderboard <small> </small></h1>
</div>
<table class="table table-hover table-bordered col-md-6">
  <tr>
    <th>Username</th>
    <th>Score</th>
  </tr>
  <% @users.each do |u| %>
  <tr>
    <td><%= u.username %></td>
    <td><%= u.total_score %></td>
  </tr>
  <% end %>
</table>